<html>
<head>
<meta charset="UTF-8">
<title> <%= title %> </title>
</head>

<body>

<select id="tops_selected">
<option id="<%- topsName_0 %>"><%- topsName_0 %></option>
<option id="<%- topsName_1 %>"><%- topsName_1 %></option>
</select>


<input type="button" value="判定する">

<!--
 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
 <script>
 $.ajax{
 url:'javaScript/app.js',
 dataType: 'javaScript',
 data:{topsName_0: tops[0].title},
 }
 </script>
-->
 
</body>
</html>
