<html>
<head>
<meta charset="UTF-8">
<title> <%= title %> </title>
</head>

<body>
<%- include('components/hamburgerMenu.ejs') %>

<!-- トップスのセクション -->
<div class="Image_Section">
   <select id="tops_selected">
   <option id="tops1"><%- topsName_0 %></option>
   <option id="tops2"><%- topsName_1 %></option>
   <option id="tops3"><%- topsName_2 %></option>
   </select>
   <input type="submit" value="OK" id="choose">
</div>

<!-- optionで選ばれたidの写真を持ってきたい -->
<div id="putImage">
</div>

<!-- sectionで選ばれたアイテムの写真を呼び出す -->
<script>
var selectedItemT = document.getElementById("tops_selected").value;
const tops1 = document.getElementById("tops1").value;
const tops2 = document.getElementById("tops2").value;
const tops3 = document.getElementById("tops3").value;
const putImage = document.getElementById("putImage");
var choose = document.getElementById("choose");

choose.addEventListener('click', selectHandler);

function selectHandler(){
   //tops1を選んだ場合
   if( `${selectedItemT}` == `${tops1}`){
       putImage.innerHTML= "<img src= '<%- topsImage_0 %>' class='Image'>";
   }else if(`${selectedItemT}` == `${tops2}`){
       putImage.innerHTML= "<img src= '<%- topsImage_1 %>' class='Image'>";
   }else{
       putImage.innerHTML= "<img src= '<%- topsImage_0 %>' class='Image'>";
   }
}
</script>

<!-- ボトムスのセクション -->
<div class="Image_Section">
    <select id="bottoms_selected">
       <option id="bottoms1"><%- bottomsName %></option>
    </select>
    <input type="submit" value="OK" id="choose1">
</div>


<!-- optionで選ばれたidの写真を持ってきたい -->
<div id="putBottomsImage">
</div>

<!-- sectionで選ばれたアイテムの写真を呼び出す -->
<script>
var putB = document.getElementById("putBottomsImage");
var selectedItemB = document.getElementById("bottoms_selected").value;
const bottoms1 = document.getElementById("bottoms1").value;
const choose1 = document.getElementById("choose1");

choose1.addEventListener('click', putBHandler);

function putBHandler(){
    if( `${selectedItemB}` == `${bottoms1}`){
       putB.innerHTML= "<img src= '<%- bottomsImage %>' class='Image'>";
    }else{
       console.log('error');
    }
}

</script>

<!-- 悪いドレスコードのタイトルのidを設定するだけのもの -->
<p id="baddress"><%- baddress_0 %></p>
<p id="baddress1"><%- baddress_1 %></p>

<input type="submit" value="判定する" id="judge">

<script>
const judge = document.getElementById("judge");
const TopsImage = document.getElementById("TopsImage");
const baddress = document.getElementById("baddress").innerHTML;
const baddress1 = document.getElementById("baddress1").innerHTML;

judge.addEventListener('click', judgeHandler);

function judgeHandler(){
 if( `${selectedItemT}${selectedItemB}` == `${baddress}`){
 console.log(baddress);
 alert('アウト');
 }else if(`${selectedItemT}${selectedItemB}` == `${baddress1}`){
 alert.log('アウト');
 }else{
 console.log('OK!');
 }
}

</script>

<style>
.Image_Section{
   margin-top:20px;
}

#tops_selected,#bottoms_selected{
position:relative;
left:50%;
transform:translate(-50%,-50%);
}

#choose,#choose1{
position:relative;
left:50%;
transform:translate(-135%,-50%);
}

#judge{
position:relative;
left:50%;
transform:translate(-50%,-50%);
}

#baddress,#baddress1{
color:white;
font-size:5px;
}

.Image{
   width: 276px;
   height: 368px;
   position:relative;
   left:50%;
   transform:translate(-50%,0);
}
</style>

<!--
 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
 <script>
 $.ajax{
 url:'javaScript/app.js',
 dataType: 'javaScript',
 data:{topsName_0: tops[0].title},
 }
 </script>
-->
 
</body>
</html>
