<html>
<head>
<meta charset="UTF-8">
<title> <%= title %> </title>
</head>

<body>

<form>
<select>
 <option id="">
 <%- for(var i in topsName){ %>
 <%= topsName[i] %><br/>
 <% } %>
 </option>
 
 <option id="<%- topsName_1 %>"><%- topsName_1 %></option>
</select>
</form>

</body>
</html>
