<html>
<head>
<meta charset="UTF-8">
<title> <%= title %> </title>
</head>

<body>


<select id="tops_selected">
<option id="<%- topsName_0 %>"><%- topsName_0 %></option>
<option id="<%- topsName_1 %>"><%- topsName_1 %></option>
</select>

<select id="bottoms_selected">
<option id="<%- bottomsName %>"><%- bottomsName %></option>
</select>

<p id="baddress"><%- baddress_0 %></p>
<input type="button" value="判定する" id="judge">

<script>
const judgeCode = document.getElementById("judge");
const selectedItemT = document.getElementById("tops_selected").innerHTML;
const selectedItemB = document.getElementById("bottoms_selected").innerHTML;
const baddress = document.getElementById("baddress").innerHTML;

judge.addEvenetListener("click",judgeHandler);

function judgeHandler(){
 if( `${selectedItemT}と${selectedItemB}` == ${baddress}){
 console.log('アウト');
 }
}

</script>

<!--
 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
 <script>
 $.ajax{
 url:'javaScript/app.js',
 dataType: 'javaScript',
 data:{topsName_0: tops[0].title},
 }
 </script>
-->
 
</body>
</html>
