<html>
<head>
<meta charset="UTF-8">
<title> <%= title %> </title>
</head>

<body>
<%- include('components/hamburgerMenu.ejs') %>

<div id="Image_Section">
   <select id="tops_selected">
   <option id="tops1"><%- topsName_0 %></option>
   <option id="tops2"><%- topsName_1 %></option>
   <option id="tops3"><%- topsName_2 %></option>
   </select>
   <input type="submit" value="OK" id="choose">
</div>

<!-- optionで選ばれたidの写真を持ってきたい -->
<div id="putImage">
</div>

<script>
var selectedItemT = document.getElementById("tops_selected").value;
const tops1 = document.getElementById("tops1").value;
const tops2 = document.getElementById("tops2").value;
const tops3 = document.getElementById("tops3").value;
const putImage = document.getElementById("putImage");
const choose = document.getElementById("choose");

choose.addEventListener('click', selectHandler);

function selectHandler(){
   //tops1を選んだ場合
   if( `${selectedItemT}` == `${tops1}`){
       putImage.innerHTML= "<img src= '<%- topsImage_0 %>' id='topsImage'>";
   }else if(`${selectedItemT}` == `${tops2}`){
       putImage.innerHTML= "<img src= '<%- topsImage_1 %>' id='topsImage'>";
   }else{
       putImage.innerHTML= "<img src= '<%- topsImage_0 %>' id='topsImage'>";
   }
}
</script>


<div id="Image_Section">
    <select id="bottoms_selected">
    <option id="bottoms1"><%- bottomsName %></option>
    </select>
    <input type="submit" value="OK" id="choose">
</div>

<!-- optionで選ばれたidの写真を持ってきたい -->
<div id="putBottomsImage">
</div>

<script>
var putB = document.getElementById("put");
var selectedItemB = document.getElementById("bottoms_selected").value;

putB.addEventListener('click', putBHandler);

function putBHandler(){
    if( `${selectedItemB}` == `${bottoms1}`){
       putImage.innerHTML= "<img src= '<%- topsImage_0 %>' id='topsImage'>";
}

</script>

<p id="baddress"><%- baddress_0 %></p>
<input type="submit" value="判定する" id="judge">

<script>
const judge = document.getElementById("judge");
const TopsImage = document.getElementById("TopsImage");
var selectedItemT = document.getElementById("tops_selected").value;
var selectedItemB = document.getElementById("bottoms_selected").value;
const baddress = document.getElementById("baddress").innerHTML;

judge.addEventListener('click', judgeHandler);

function judgeHandler(){
 if( `${selectedItemT}${selectedItemB}` == `${baddress}`){
 console.log('アウト');
 }else{
 console.log('error');
 }
}

<style>
#tops{
   margin-top:20px;
}

#tops_selected{
position:relative;
left:50%;
transform:translate(-50%,-50%);
}

#choose{
position:relative;
left:50%;
transform:translate(-135%,-50%);
}

#topsImage{
   width: 276px;
   height: 368px;
   position:relative;
   left:50%;
   transform:translate(-50%,0);
}
</style>


</script>
<!--
 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
 <script>
 $.ajax{
 url:'javaScript/app.js',
 dataType: 'javaScript',
 data:{topsName_0: tops[0].title},
 }
 </script>
-->
 
</body>
</html>
