<html>
<head>
<meta charset="UTF-8">
<title> <%= title %> </title>
</head>

<body>
<%- include('components/hamburgerMenu.ejs') %>

<select id="tops_selected">
<option id="tops1"><%- topsName_0 %></option>
<option id="<%- topsName_1 %>"><%- topsName_1 %></option>
<option id="<%- topsName_2 %>"><%- topsName_2 %></option>
</select>
<input type="submit" value="OK" id="choose">

<!-- optionで選ばれたidの写真を持ってきたい -->
<div id="putImage">
</div>

<script>
const selectedItemT = document.getElementById("tops_selected");
const putImage = document.getElementById("putImage");
const tops1 = document.getElementById("tops1").value;
const choose = document.getElementById("choose");

choose.addEventListener('click', selectHandler);

function selectHandler(){
   if( `${selectedItemT}` == `${tops1}`){
       putImage.innerHTML= '<img src= "<%- badImage_0 %>">';
   }else{
       console.log('error');
   }
}
</script>


<style>
#topsImage{
   width: 276px;
   height: 368px;
   position:relative;
   left:50%;
   transform:translate(-50%,0);
}
</style>

<select id="bottoms_selected">
<option id="<%- bottomsName %>"><%- bottomsName %></option>
</select>

<p id="baddress"><%- baddress_0 %></p>
<input type="submit" value="判定する" id="judge">

<script>
const judge = document.getElementById("judge");
const TopsImage = document.getElementById("TopsImage");
const selectedItemT = document.getElementById("tops_selected").value;
const selectedItemB = document.getElementById("bottoms_selected").value;
const baddress = document.getElementById("baddress").innerHTML;

judge.addEventListener('click', judgeHandler);

function judgeHandler(){
 if( `${selectedItemT}${selectedItemB}` == `${baddress}`){
 console.log('アウト');
 }else{
 console.log('error');
 }
}

</script>
<!--
 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
 <script>
 $.ajax{
 url:'javaScript/app.js',
 dataType: 'javaScript',
 data:{topsName_0: tops[0].title},
 }
 </script>
-->
 
</body>
</html>
