<html>
<head>
    <meta charset="UTF-8">
    <title> <%= title %> </title>

    <style>
        #main_container {
            width: 80%;
            align-content: center;
            align-self: center;
            text-align: center;
        }

        #suggestionArea {
            text-align: center;
        }

        #tops {
            width: 35%;
            height: 30%;
        }

        #bottoms {
            width: 35%;
            height: 30%;
        }

        .spanText {
            font-size: 4em;
        }

        .nazotabiArea {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 80%;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="main_container">
    <div class="nazotabiArea">
        <!--トップスを表示するエリア-->
        <img id="tops" src=" <%- topsImage %> " alt=" <%- topsName %> ">

        <!--ボトムスを表示するエリア-->
        <img id="bottoms" src=" <%- bottomsImage %> " alt=" <%- bottomsName %> ">
    </div>
    <!-- 謎旅投票ボタン -->
    <%- include('components/tripVoteDialog') %>
    <!-- 謎旅生成ボタン -->
    <%- include('components/tripGenerateButton') %>
</div>
</body>
</html>
