<html>
<head>
    <meta charset="UTF-8">
    <title> <%= title %> </title>

    <style>
        #main_container {
            align-content: center;
            align-self: center;
            text-align: center;
        }

        #tops {
            width: 276px;
            height: 368px;
            position:relative;
            left:50%;
            transform:translate(-50%,0);
        }
        
        

        #bottoms {
            width: 276px;
            height: 368px;
            position:relative;
            left:50%;
            transform:translate(-50%,0);
        }
        
        .imagearea{
        padding-top: 50px;
        }

        
        #tops-area > p{
        text-align:center;
        }
        
        #bottoms-area{
        padding-top:50px;
        }
        
        #bottoms-area > p{
        text-align:center;
        }
        
        #topsText{
        font-size:15px;
        text-align:center;
        }
        
        #bottomsText{
        font-size:15px;
        text-align:center;
        }
        
        
    </style>
</head>
<body>
<div id="main_container">
    <div class="imagearea">
        <!--トップスを表示するエリア-->
        <div id="tops-area">
          <p>TOPS</p>
          <span id= "topsText"><%- topsName %></span>
          <img id="tops" src=" <%- topsImage %> " alt="<%- topsName %>">
        </div>

        <!--ボトムスを表示するエリア-->
        <div id="bottoms-area">
          <p>BOTTOMS</p>
          <span id= "bottomsText">#<%- bottomsName %></span>
          <img id="bottoms" src=" <%- bottomsImage %> " alt="<%- bottomsName %>">
        </div>
    </div>
    <!-- 謎旅投票ボタン -->
    <%- include('components/tripVoteDialog') %> 
    
</div>
</body>
</html>
