<html>
<head>
    <meta charset="UTF-8">
    <title> <%= title %> </title>

    <style>
        #main_container {
            width: 80%;
            align-content: center;
            align-self: center;
            text-align: center;
        }

        #suggestionArea {
            text-align: center;
        }

        #placeText {
            font-size: 6em;
        }

        #activityText {
            font-size: 6em;
        }

        #place {
            width: 35%;
            height: 30%;
        }

        #activity {
            width: 35%;
            height: 30%;
        }

        .spanText {
            font-size: 4em;
        }

        .nazotabiArea {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 80%;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="main_container">

    <div id="suggestionArea">
        <span id="placeText"><%- placeName %></span>
        <span class="spanText">で</span>
        <span id="activityText"><%- activityName %></span>
    </div>

    <div class="nazotabiArea">
        <!--場所を表示するエリア-->
        <img id="place" src=" <%- placeImage %> " alt=" <%- placeName %> ">

        <!--アクティビティを表示するエリア-->
        <img id="activity" src=" <%- activityImage %> " alt=" <%- activityName %> ">
    </div>
    <!-- 謎旅投票ボタン -->
    <%- include('components/tripVoteDialog') %>
    <!-- 謎旅生成ボタン -->
    <%- include('components/tripGenerateButton') %>
</div>
</body>
</html>