<html>
<head>
    <meta charset="UTF-8">
    <title> <%= title %> </title>

    <style>
        #main_container {
            width: 80%;
            align-content: center;
            align-self: center;
            text-align: center;
        }

        #suggestionArea {
            text-align: center;
        }

        #tops {
            width: 276px;
            height: 368px;
            position:absolute;
            left:50%;
            transform:translate(-50%,0);
        }
        
        

        #bottoms {
            width: 276px;
            height: 368px;
            position:absolute;
            left:50%;
            transform:translate(-50%,0);
        }
        
        .imagearea{
        padding-top: 50px;
        }

        .spanText {
            font-size: 4em;
        }
        
        #tops-area > p{
        text-align:center;
        }
        
        #bottoms-area{
        padding-top:50px;
        }
        
        #bottoms-area > p{
        text-align:center;
        }
        
    </style>
</head>
<body>
<div id="main_container">
    <div class="imagearea">
        <!--トップスを表示するエリア-->
        <div id="tops-area">
          <p>TOPS</p>
          <img id="tops" src=" <%- topsImage %> " alt=" <%- topsName %> ">
        </div>

        <!--ボトムスを表示するエリア-->
        <div id="bottoms-area">
          <p>BOTTOMS</p>
          <img id="bottoms" src=" <%- bottomsImage %> " alt=" <%- bottomsName %> ">
        </div>
    </div>
    <!-- 謎旅投票ボタン -->
    <%- include('components/tripVoteDialog') %>
    <!-- 謎旅生成ボタン -->
    <%- include('components/tripGenerateButton') %>
</div>
</body>
</html>
