<html>
<head>
    <meta charset="UTF-8">
    <title> <%= title %> </title>

    <style>

        #tops {
            width: 276px;
            height: 368px;
            position:relative;
            left:50%;
            transform:translate(-50%,0);
        }
        
        

        #bottoms {
            width: 276px;
            height: 368px;
            position:relative;
            left:50%;
            transform:translate(-50%,0);
        }
        
        .imagearea{
        padding-top: 50px;
        }

        
        #tops-area > p{
        text-align:center;
        }
        
        #bottoms-area{
        padding-top:50px;
        }
        
        #bottoms-area > p{
        text-align:center;
        }
        
        #topsText{
        font-size:15px;
        text-align:center;
        }
        
        #bottomsText{
        font-size:15px;
        text-align:center;
        }
        
        #tagarea{
            text-align:center;
            padding-top:20px;
        }
        
        #finishButton{
        margin-top:20px;
        margin-bottom:20px;
        font-size: 15px;
        text-align: center;
        position:absolute;
        left:50%;
        transform:translate(-50%,-50%);
        }
        
    </style>
</head>
<body>
    
    <div class="imagearea">
        <!--トップスを表示するエリア-->
        <div id="tops-area">
          <p>TOPS</p>
          <img id="tops" src=" <%- topsImage %> " alt="<%- topsName %>">
        </div>

        <!--ボトムスを表示するエリア-->
        <div id="bottoms-area">
          <p>BOTTOMS</p>
          <img id="bottoms" src=" <%- bottomsImage %> " alt="<%- bottomsName %>">
        </div>
    </div>
    
    <div id="tagarea">
        <span id= "topsText"><%- topsName %></span>
        <span>と</span>
        <span id= "bottomsText"><%- bottomsName %></span>
    </div>
    <!-- 謎旅投票ボタン -->
    <%- include('components/tripVoteDialog') %> 
    
    <!-- ドレスコード判定を終了する -->
    <form method="GET" action="https://dresscodesfc.herokuapp.com/">
    <input id="finishButton" type="submit" value="判定を終了する">
    </form>
    
</body>
</html>
